/* hero.module.css */
@keyframes moveUpDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.move-up-down {
  animation: moveUpDown 3s infinite;
}
